h1 {
  color: #878787;
  font-size: 24px;
  margin-bottom: 0;
}
.weather-app {
  border: 1px solid #dadde1;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
}

.search-box {
  padding: 40px;
  margin: 40p;
  width: 300px;
}
.button {
  color: black;
  background: white;
  align: right;
  border-radius: 5px;
  margin: 10px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  text-transform: capitalize;
}
li:first-letter {
  text-transform: capitalize;
}
.full-weather-app {
  max-width: 600px;
  margin: 0 auto;
}
.source-code {
  text: align-left;
}
.temperature-value strong {
  color: black;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: black;
}
